/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}*/
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
body{
    background-color: white;
    margin: 0;
}
img{
    display: block;
}
a {
    text-decoration: none;
    color: gray;
}
.container{
    max-width: 750px;
    margin: 10px auto;
}
.navigation{
    display: flex;
    flex-direction: row-reverse;
    background-color: white:
    top: 0;
    right: 0;
    width: 100%;
    font-family: 'Inconsolata';
    text-transform: uppercase;

}
.navigation li {
    /* list-style: none; */
    background-color: transparent;
}
.navigation > ul {
    text-decoration: none;
}
.navigation > ul > li{
    margin: 5px;
    display: inline;
    position: relative;
    list-style: none;
    color: #0099ff;
    font-size: 20px;
}
.navigation > a {
     color: #0099ff;
}
.navigation .dropdown {
    display: none;
    position:absolute;
    top:15;
    right: 0;
}
.navigation a:hover + .dropdown, .dropdown:hover {
    display: block;
}
.topBackground > img{
    width: 100%;
    /*background-image: url("../images/header-pic-color-web-blue.jpg");
    background-repeat: no-repeat;
    background-size: cover;*/
    /*min-width: 340px;*/
}
.nameTitle {
    width: 100%;
    background-color: #0099ff;
}
.fullName {
    text-align: left;
    font-size: 38px;
    font-family: 'Inconsolata';
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}
.nameTitle p {
    text-align: center;
    margin: 0;
    padding: 3% 0 0 0;
}
.skills {
    text-transform: uppercase;
    font-family: 'Inconsolata';
    font-size: 25px;
    color: lightgray;
}
.titleText p {
    text-align: left;
}
.titleText {
    color: white;
    font-size: 20px;
    font-family: serif;
    padding: 0 0 2% 0;
}

.titleContainer {
    width: 100%;
    text-align: center;
    /* background-color: #0099ff; */
    color: #0099ff;
    font-family: 'Inconsolata';
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;

}
.list li {
    list-style: none;
}
.list {
    display: none;
    background-color: white;
    color: gray;
    text-transform: uppercase;
    font-family: 'Inconsolata';
    font-size: 30px;
    text-align: center;
    padding: 0;
    border: 2px solid #0099ff;
    background-image: url("/images/white-background.jpg");
    background-size: cover;
}
.imageSize {
    width: 100%;
}
#output {
    color: gray;
}
.learnAbout{
    background-color: lightgray;
    width: 100%
}
#initialQuestion {
    color: white;
    font-family: 'Inconsolata';
    font-size: 40px;
    text-align: center;
    padding: 2% 0 0 0;
}
#output {
    color: #383838;
    text-align: left;
    padding: 10px 0 0 0;
    margin: 0 auto;
    max-width: 750px;
    font-size: 20px;
}
#inputChoose {
    margin: 3% 0 0 42%;
}
#enter {
    color: #0099ff;
    text-align: center;
    padding: 0 0 3% 0;
    text-transform: uppercase;
}
.footer{
    margin: 0;
}
.footerGrid li {
    color: #383838;
}
.footerGrid a {
    /* color: #383838; */
    text-transform: uppercase;
    font-size: 20px;
}
.footerGrid a:hover {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}
.footerIcons{
    height: 20px;
}
.melvin {
  display: block;
  margin: 0 auto;
}
/* .header{
    background-color: pink;
    margin-top: 150px;
}
.content{
    background-color: purple;
    margin: 50px;
    padding: 50px;
}
.footer{
    background-color: white;
}
.content ~ div {
    background-color: orange;
}
.footer > p {
    color: fuchsia;
}
#funkyList{
    background-color: tomato;
}

#funkyList li:first-child{
    background-color: firebrick;
}
#funkyList li:last-child{
    background-color: pink;
}
#funkyList li:nth-child(2){
    background-color: red;
}

}
/*Everyother line*/
/* #funkyList li:nth-child(2n + 1){
    color: white;
}

#funkyList > li:hover{
    background-color: yellow;
}

    .container li:first-child{
        color: crimson;
    }
    .container li:last-child{
        color: green;
    }

input[type="text"]{
    background-color: tomato;
}
input[type="checkbox"]{
    margin: 40px;
}
#output{
    background-color: crimson;
    font-family: sans-serif;
    font-size: 26px;
}
#inputChoose{
    max-width: 100%;
    margin: 10px;
} */ */
