/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}*/
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
body{
    background-color: white;
    margin: 0;
}
img{
    display: block;
}
a {
    text-decoration: none;
    color: white;
}
.container{
    max-width: 750px;
    margin: 10px auto;
}
.navigation{
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    font-family: 'Inconsolata';
    text-transform: uppercase;
}
.navigation li {
    list-style: none;
}
.navigation > ul {
    text-decoration: none;
}
.navigation > ul > li{
    margin: 5px;
    display: inline;
    position: relative;
    list-style: none;
}
.navigation > ul > li:hover{

}
.navigation .dropdown {
    display: none;
    position:absolute;
    top:15;
    right: 0;
}
.navigation a:hover + .dropdown, .dropdown:hover {
    display: block;
}
.topBackground > img{
    width: 100%;
    /*background-image: url("../images/header-pic-color-web-blue.jpg");
    background-repeat: no-repeat;
    background-size: cover;*/
    /*min-width: 340px;*/
}
.topPicVerbiage{

}
.nameTitle {
    width: 100%;
}
.fullName {
    text-align: left;
    font-size: 38px;
}
.nameTitle p {
    color: #0099ff;
    text-align: center;
}
.skills {
    text-transform: uppercase;
}
.titleText {
    padding: 10px 20px;
}

.titleContainer {
    width: 100%;
    text-align: center;
    background-color: #0099ff;
    color: white;
    font-family: 'Inconsolata';
    text-transform: uppercase;

    /* border: solid 1px #0099ff; */
}
.list {
    /* padding: 5px; */
    display: none;
    background-color: #0099ff;
    color: white;
    text-transform: uppercase;
    font-family: 'Inconsolata';
    font-size: 12px;
}
.imageSize {
    width: 100%;
}
.header{
    background-color: pink;
    margin-top: 150px;
}
.content{
    background-color: purple;
    margin: 50px;
    padding: 50px;
}
.footer{
    background-color: white;
}
.content ~ div {
    background-color: orange;
}
.footer > p {
    color: fuchsia;
}
#funkyList{
    background-color: tomato;
}

#funkyList li:first-child{
    background-color: firebrick;
}
#funkyList li:last-child{
    background-color: pink;
}
#funkyList li:nth-child(2){
    background-color: red;
}
#funkyList li:nth-child(3n){
    background-color: blue;
}
/*Everyother line*/
#funkyList li:nth-child(2n + 1){
    color: white;
}

#funkyList > li:hover{
    background-color: yellow;
}

    /*.container li:first-child{
        color: crimson;
    }
    .container li:last-child{
        color: green;
    }*/

input[type="text"]{
    background-color: tomato;
}
input[type="checkbox"]{
    margin: 40px;
}
#output{
    background-color: crimson;
    font-family: sans-serif;
    font-size: 26px;
}
#inputChoose{
    max-width: 100%;
    margin: 10px;
}
